* {
    box-sizing: border-box;
}

main {
    margin: auto;
    width: 80%;
    max-width: 1000px;
    background-color: rgb(255,255,230);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:    "he he"
                            "na na"
                            "as ar"
                            "fo fo";
}

header {
    opacity: 0.8;
    background-image: url("kepek/fejlec.jpg");
    height: 550px;
    color: red;
    font-weight: bold;
    font-family: cursive, arial, serif;
    text-align: center;
    grid-area: he;
}

header p {
    margin-top: 60px;
}

nav {
    background-color: red;
    grid-area: na;
    height: 50px;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding-left: 0;
}

nav ul li {
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    text-align: center;
    margin: 5px;
}

nav ul li:hover {
    background-color:green;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

article {
    grid-area: ar;
}

article p {
    text-align: justify;
    font-size: 10px;
}

article h1 {
    font-size: 15px;
    color: #ff1a1a;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

article img {
    float: right;
    border-radius: 30px;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);
    margin: 10px;
}

aside {
    grid-area: as;
}

aside img {
    width: 100%;
}

footer {
    grid-area: fo;
}

@media screen and (max-width:700px) {
    main {
        grid-template-areas:    "he"
                                "na"
                                "ar"
                                "as"
                                "fo";
    }
}





header, nav, article, aside, footer {
    border: 3px solid black;
}
